@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
scrollbar * 
scrollbar scrollbarbutton { display: none ! important; }
scrollbar scrollbarbutton { visibility: collapse !important }

scrollbar[orient="vertical"]{
background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAACCAYAAABsfz2XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAhSURBVHjaYvj//z8DMvb39/+PLoaMmRhIBAAAAAD//wMAB6Qizv4lfkgAAAAASUVORK5CYII=") ! important; 

-moz-appearance: none !important; 
background-color: transparent !important;
opacity: .75 !important;
min-width: 8px !important;
max-width: 8px !important;
}

scrollbar[orient="vertical"]:hover
{
opacity: 1 !important;
-moz-appearance: none !important; 
background-color: transparent !important;
min-width: 8px !important;
max-width: 8px !important;
}

scrollbar thumb[orient="vertical"] 
{
background-color:  #3F94EF!important;
-moz-appearance: none !important; 
border-radius: 4px !important;
min-width: 8px !important;
max-width: 8px !important;
border: 1px !important;
}

scrollbar thumb[orient="vertical"]:hover 
{
background-color: #0071EA!important;;
border-radius: 4px !important;
border: 0px !important;
}

scrollbar[orient="horizontal"]{
background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAMCAYAAABIvGxUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAmSURBVHjaYvz//z8DAwMDAxMDFGAyGP39/f8zMDAwMBKhGA8DMAB8qAf8L6w8LwAAAABJRU5ErkJggg==") ! important; 

-moz-appearance: none !important; 
background-color: transparent !important;
opacity: .75 !important;
min-height: 8px !important;
max-height: 8px !important;
}

scrollbar[orient="horizontal"]:hover
{
opacity: 1 !important;
-moz-appearance: none !important; 
background-color: transparent !important;
min-height: 8px !important;
max-height: 8px !important;
}

scrollbar thumb[orient="horizontal"] 
{
background-color:  #3F94EF!important;
-moz-appearance: none !important; 
border-radius: 4px !important;
min-height: 8px !important;
max-height: 8px !important;
border: 1px !important;
margin-left: 0px !important;
}

scrollbar thumb[orient="horizontal"]:hover 
{
background-color: #0071EA!important;;
border-radius: 4px !important;
border: 0px !important;
}

/* REMOVES THE SCROLLBAR CORNERS THAT CAN BE SEEN ON DARK COLORED WEBPAGES */
scrollcorner{opacity: 0 !important;}
scrollbar scrollcorner:hover {background:transparent !important;}

@-moz-document url-prefix(http://), url-prefix(https://), url-prefix(file://) {
scrollbar[orient="vertical"]{
margin-top: 120px !important;
margin-bottom: 120px !important;
}

scrollbar[orient="horizontal"]{
margin-left: 450px !important;
margin-right: 450px !important;
}

scrollbar[orient="horizontal"]:hover
{
margin-left: 450px !important;
margin-right: 450px !important;
}

}